.container {
  padding: 5rem;
}

.chat-window {
  margin-bottom: 1rem;
  width: 40rem;
  height: 10rem;
  border-style: solid;
  overflow: scroll;
}

.input-container {
  width: 40rem;
}

.input-bar {
  width: 100%;
}
